<!doctype html>

<head>
  <title>CLCO</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  <script src="https://unpkg.com/htmx.org@1.5.0"></script>
</head>
<html>

<body>
  <main>
    <div class="px-4 py-3 my-2 text-center">
      <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo" />
    </div>

    <div class="grid row-gap-3 col-md-6 mb-4 mx-auto text-center">
      <h3 class="p-2 g-col-6 fw-bold fs-5">Tell me your name and message!</h3>
      <form class="p-2 g-col-6">
        <input type="text" placeholder="Name" name="name" class="form-control mb-3" />
        <input type="text" placeholder="Message" name="message" class="form-control mb-3" />
        <button type="submit" class="btn btn-primary" hx-post="/hello" hx-trigger="click"
          hx-target="#message-data" hx-swap="beforeend">Submit</button>
      </form>
      <h3 class="p-2 g-col-6 fw-bold fs-5">We had the following visitors</h3>
      <div class='people p-2 g-col-6'>
        <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Message</th>
              <th>Visited</th>
            </tr>
          </thead>
          <tbody id="message-data" hx-get="/messages" hx-trigger="load" hx-swap="beforeend">

          </tbody>
        </table>
      </div>
      <div>
  </main>
</body>

</html>